* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-repeat: no-repeat;
    min-height: 800px;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

select {
    width: 50px;
    height: 26px;
    margin-right: 10px;
}

button {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    background-color: #243b55;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 3px 29px;
}

#reset-game-btn {
    margin-left: 10px;
}

.container {
    margin: 50px auto;
    width: max-content;
    background-image: linear-gradient(to bottom right, #243b55, #141e30);
    box-shadow: 10px 10px 16px #848484;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-gap: 12px;
}

#cards-16 {
    grid-template-columns: repeat(4, auto)
}

#cards-24 {
    grid-template-columns: repeat(6, auto)
}

#cards-32 {
    grid-template-columns: repeat(8, auto);
}

.scene {
    width: 8vw;
    height: 8vw;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background: #13f7ff;
    border-radius: 6px;
}

.card-back {
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}

i {
    font-size: 5vw;
}


@media only screen and (max-width: 484px) {
    .start-game {
        flex-direction: column;
    }
    #reset-game-btn {
        margin-left: 0;
    }
    select,
    button {
        margin-top: 10px;
    }
} 

@media only screen and (max-width: 388px) {
    .container {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
}