* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);;
    background-repeat: no-repeat;
    min-height: 800px;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

select {
    width: 50px;
    height: 26px;
    margin-right: 10px;
}

button {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: #243B55;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 3px 29px;
}

#reset-game-btn {
    margin-left: 10px;
}

.container {
    margin: 50px auto;
    background-image: linear-gradient(to bottom right, #243B55, #141E30);
    box-shadow: 10px 10px 16px #848484;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cards-16 {
    width: 33%;
} 

#cards-24 {
    width: 47%;
}

#cards-32 {
    width: 61%;
}

.scene {
    width: 80px;
    height: 80px;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background: #13f7ff;
    border-radius: 6px;
}

.card-back {
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg)
}

i {
    font-size: 30px;
}

@media only screen and (max-width: 992px) {
    #cards-16, #cards-24, #cards-32 {
        width: 95%;
    }
}

@media only screen and (max-width: 484px) {
    .start-game {
        flex-direction: column;
    }
    #reset-game-btn {
        margin-left: 0;
    }
    select, button {
        margin-top: 10px;
    }
}
